<%- include('partials/head') %>
<%- include('partials/navbar') %>
<h1>My App <%= 5+5%></h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ullam
  tenetur adipisci assumenda, explicabo, deserunt iusto nihil labore, nobis unde
  mollitia totam nulla ea maiores. Voluptates ratione ipsam natus suscipit?
  Asperiores accusamus eius odit non expedita possimus? Illo enim sed, eveniet
  voluptatibus quisquam odio laboriosam corrupti ratione mollitia natus quam
  accusantium minus odit eius consectetur labore beatae exercitationem totam
  explicabo. Explicabo atque repellat natus, repellendus, quam recusandae vel
  qui fugit nesciunt odit facere. Molestiae, tenetur. Ab assumenda suscipit id
  qui perferendis ut nostrum excepturi, magnam dolorem libero, natus iste
  placeat? Officia assumenda dolor non molestiae tempore, obcaecati, eius
  possimus voluptatem eaque, neque numquam nemo! Delectus asperiores velit
  possimus maiores fugiat labore, accusantium deleniti eligendi sequi provident,
  voluptatibus animi est dicta! Quos harum quia aliquam distinctio tenetur in
  veritatis a qui consequatur voluptates, et deserunt, voluptate earum sit
  asperiores culpa reprehenderit aliquid doloremque iure error quis sapiente
  praesentium. Temporibus, laborum quidem.
</p>
<%- include('partials/footer') %>
